//variables
$red: #B6000F;
$blue: #A7D0D6;
$tan: #F7E1BC;
$navyblue: #36436f;
$black: #24282b;

html {
    background-color: $navyblue;
    // background-image: url('./basketball texture.jpeg'), linear-gradient(transparent 100%, $navyblue);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // border: 2px solid black;
    // background-color: whitesmoke;
    padding: 1%;
    color: $blue;

}

button {
    align-self: flex-end;

    font-size: larger;

    width: 100px;
    height: 25px;
    border-radius: 20px;
}

#resetBtn, #closePopUpBtn {
    background-color: #B6000F;
    color:#F7E1BC;
    width: 150px;
    height: 50px;
}

#overviewContainer {
    display: flex;

    // border: 2px solid lightblue;
    background-color: $tan;
    box-sizing: border-box;
    padding: 1% 3%;
    margin: 2% 0;

    color:#B6000F;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    margin-right: 10vw;
}

td {
    color: green;
}

#myTeamContainer {
    display: flex;
    // flex-direction: column;

    // border: 2px solid $tan;
    background-color: $tan;
    box-sizing: border-box;
    padding: 1% 3%;
    margin: 2% 0;
    width: 100%;

    color:#B6000F;

}

#myPlayer {

    border: 2px dashed grey;
    padding: 0 3%;
    margin: 2% 0;
}

#undraftedContainer {
    display: flex;

    // border: 2px solid lightblue;
    background-color: $tan;
    box-sizing: border-box;
    padding: 1% 3%;
    margin: 2% 0;
    width: 100%;

    color:#B6000F;
}

.selectBtn, #submitBtn {
    border: 2px solid $navyblue;
    background-color: #A7D0D6;
    color:#24282b;
}

.takenBtn {
    border: 2px solid $red;
    background-color: $tan;
    color: $red;
}

#undraftedPlayer {

    border: 2px dashed grey;
    padding: 0 3%;
    margin: 2% 0;
}

#playerSelectionPopUp {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid lightblue;
    background-color: white;
    padding: 1% 3%;
    margin: 2% 0;
    color:$navyblue;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
